﻿@using System.Collections
<div class="container" id="AWHProject">
    <h2 class="text-center">AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
</div>

<div class="container-fluid" style="margin-bottom: 10px">
    <h3 class="text-center">Please Select your time zone</h3>
    <div class="row text-center justify-content-center">
        <div class="col-12">
            <div class="container">
                <p></p>

                <p>
                    @Html.DropDownList("timeZonePicker", new SelectList((IEnumerable) ViewData["TimeZones"], "Id", "DisplayName"))
                    
                    <!--
                    <select class="js-Selector" id="timeZonePicker">
                        <option value="UTC-11">MidWay Island, Samoa (UTC -11:00)</option>
                        <option value="Hawaiian Standard Time">Hawaii (UTC -10:00)</option>
                        <option value="Alaskan Standard Time">Alaska (UTC -8:00))</option>
                        <option value="Pacific Standard Time">Pacific Time (US and Canada) (UTC -7:00))</option>
                        <option value="Mountain Standard Time">Mountain Time (UTC -6:00)</option>
                        <option value="Central Standard Time">Central Time (UTC -5:00)</option>
                        <option value="Eastern Standard Time" selected>Eastern Time (UTC -4:00)</option>
                        <option value="Central Europe Standard Time">British Daylight Time (UTC +1:00)</option>
                        <option value="India Standard Time">India Standard Time (UTC +5:30)</option>
                    </select>
                     -->
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container" id="buttoncontainer">
    <div class="row">
        <div class="col text-center" style="margin-bottom: 5px">
            <button class="center" id="button" type="submit" onclick="UserAction()">Get the time</button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h5 class="text-center">Current Time Queries</h5>
    <div class="row m-2" id="singleTimeCard">
    </div>
</div>

<div class="container-fluid">
    <h3 class="text-center">Past Time Queries</h3>
    <div class="row m-2" id="card-container"></div>
</div>
